/* COLORS */ 

$navy: #1A3764;
$blue1: #E9F3FD;
$blue2: #CEE6FF;
$blue3: #ABD5FF;
$grey: #D1D7E5;
$paleblue: #F0F7FF;


/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i&display=swap');

@import url('https://fonts.googleapis.com/css?family=Cormorant+Unicase:400,500,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Tangerine:400,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant&display=swap');

$sans-serif: 'Lato', sans-serif;
$serif: 'Cormorant Unicase', serif;
$serif2: 'Cormorant Infant','serif';
$cursive: 'Tangerine', cursive;